*{
    background-color: rgb(44, 46, 46);
}
#topic{
    color: slategrey;
}
.header{
    display: flex;
    flex-direction: row;
    float: inline-end;
    margin-left: 70%;
    
}
#intro{
    display: flex;
    flex-direction: row;
}
#quote1{
    margin-left: 10%;
    color: white;
    font-size: xx-large;
}
#quote2{
    margin-left: 15%;
    color: white;
    font-size: xx-large;
}
#quote3{
    margin-right: 15%;
    margin-top: 20%;
    color: white;
    font-size: small;
}