*{
    background-color: rgb(53, 146, 146);
}
#topic{
    color:maroon;
    margin-left: 35%;
}
a{
    color:maroon;
}
span{
    color:maroon;
}
.header{
    display: flex;
    flex-direction: row;
    float: inline-end;
    margin-left: 70%;
    justify-content:space-evenly;
    border-bottom: solid black;
    padding bottom: ;:20px ;
    
}
#intro{
    display: flex;
    flex-direction: row;
}
#quote1{
    margin-left: 10%;
    color: white;
    font-size: xx-large;
}
#quote2{
    margin-left: 15%;
    color: white;
    font-size: xx-large;
}
#quote3{
    margin-right: 15%;
    margin-top: 20%;
    color: white;
    font-size: small;
}
#projects{
    border:5px solid black;
    display: flex;
    padding-top: 40px;
    }
    #project1{
        margin-left: 2%;
    }
    #project2{
        margin-left: 4%;
    }
    #project3{
        margin-left: 6%;
    }
    #title>h4{
        margin-bottom: 20%;
    }
    #background>p{
color: white;
    }
    #coding>p{
        color: white;
    }
    
    
    #project1>p{
        color: white;
        }
        #project2>p{
            color: white;
        }
        #project3>p{
            color: white;
        }
    #about{
        display: flex;
        padding: 20px 5px 20px 25px;
        margin-left:9% ;
        background-image:;
       
    }
    #coding{
        margin-left: 11%;
    }
    #interests{
        display: flex;
        margin-top: 5%;
        margin-left: 10%;
        border:solid black;
        padding-left: 30%;
        
         }
         footer{
             margin-left: 45%;
             margin-top: 5%;
         }
         
    